MONGO_URI=
BOT_TOKEN=
BOT_ALLOWED_UPDATES=[]
ADMIN_CHAT=
DAY_LIMIT=100 #max limit per day (accept without notify admins)
OPERATION_LIMIT=50 #max limit per operation (accept without notify admins)
DEFAULT_AMOUNT=10 #amount greater this must be accepted by admins
MNEMONIC=["","","","","","","","","","","","","","","","","","","","","","","",""]
TONCENTER_KEY= 